/* Variables, Functions, and Conditionals */
.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

/* counter */
.counter {
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    padding: 15px;
    min-width: 40px;
}

.counter-dark {
    background: rgba(0, 0, 0, .6);
    color: #fff;
}

ul li {
    list-style: none;
    background: lightblue;
    padding: 15px;
    border: 4px solid grey;
    margin-bottom: 10px;
}

.flex-contianer {
    
}